<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <appSettings>
      <add key="AccountNumber" value="1001973590"/>
      <add key="ApiKey" value="test_wasim_malik"/>
      <add key="ApiSecret" value="B-qa2-0-6049d6e7-0-302c021457e72f7070542df215e8cb2a0d0ebfe5e43c0a46021470870a91a43967da4910d8c221483e2871aaf3f9"/>     
	  
      <!--
        The currencyCode should match the currency of yourPaysafe account.
        The currencyBaseUnitsMultipler should in turn match the currencyCode.
        Since the API accepts only integer values, the currencyBaseUnitMultiplier 
        is used convert the decimal amount into the accepted base units integer value.
      -->
      <add key="CurrencyCode" value="CAD"/><!-- for example value="CAD" -->
	  
      <add key="CurrencyBaseUnitsMultiplier" value="10"/>
        <!-- for example value="100"-->
    </appSettings>
</configuration>